{% extends 'wiki/layout.html' %}

{% block header %}
All Pages
{% endblock header %}

{% block other_content %}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Last Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for wiki_page in data %}
    <tr>
      <th scope="row">{{ wiki_page.id }}</th>
      <td><a href="{{ url_for('wiki.page', wiki_page_id=wiki_page.id) }}">{{ wiki_page.title }}</a></td>
      <td>{{ convert_utc_to_mdt(wiki_page.modified_on).strftime('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% macro my_url_for(page_number) -%}
{{ url_for('wiki.all_pages', page=page_number) }}
{%- endmacro %}

{% include 'wiki/pagination.html' %}
<br><br><br><br><br><br><br><br>
{% endblock other_content %}
