{% extends 'wiki/layout.html' %}

{% block css %}
{{ super() }}
{{ stylesheet_tag('css/custom_menu.css') }}
<style>
  .table div {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
</style>
{% endblock css %}

{% block header %}
All Files
{% endblock header %}

{% block other_content %}
{% macro my_url_for(page_number) -%}
{{ url_for('wiki.all_files', page=page_number) }}
{%- endmacro %}

{% include 'wiki/pagination.html' %}
<table class="table table-sm">
  <thead>
    <tr class="row m-0">
      <th class="d-inline-block col-1">ID</th>
      <th class="d-inline-block col-5 pr-4">Name</th>
      <th class="d-inline-block col-2 pr-4">Type</th>
      <th class="d-inline-block col-2">Size (Bytes)</th>
      <th class="d-inline-block col-2">Uploaded on</th>
    </tr>
  </thead>
  <tbody>
    {% for wiki_file in data %}
    <tr class="row m-0">
      <th class="d-inline-block col-1">{{ wiki_file.id }}</th>
      <td class="d-inline-block col-5 pr-4"><div><a class="wiki-file" href="{{ url_for('wiki.file', wiki_file_id=wiki_file.id) }}" title="{{ wiki_file.name }}">{{ wiki_file.name }}</a></div></td>
      <td class="d-inline-block col-2 pr-4" title="{{ wiki_file.mime_type }}"><div>{{ wiki_file.mime_type }}</div></td>
      <td class="d-inline-block col-2">{{ wiki_file.size }}</td>
      <td class="d-inline-block col-2">{{ convert_utc_to_local(wiki_file.uploaded_on).strftime('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'wiki/pagination.html' %}
<br><br><br><br><br><br><br><br>
{% endblock other_content %}

{% block custom_menu %}
<ul class='custom-menu'>
  <li data-action="Download">Download</li>
  <li data-action="Replace">Replace</li>
</ul>
<input id="file-picker" name="file" type="file" class="d-none">
{% endblock custom_menu %}

{% block js %}
{{ super() }}

<script type="text/javascript">
let wiki_group = '{{ wiki_group }}';
</script>

{{ javascript_tag('js/replace_file.js') }}
{% endblock js %}
