{% extends "layout.html" %}

{% block css %}
{{ stylesheet_tag('css/dashboard.css') }}
{{ stylesheet_tag('editor/lib/github-markdown.css') }}
{% endblock css %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <span class="navbar-brand">
    {% block header %}{% endblock header %}
  </span>
  {% include 'wiki/nav.html' %}
</nav>

<div class="container-fluid">
  <div class="row">
    {% include 'wiki/sidebar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row">
        <div class="col-md-12">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
            {{message}}
          </div><!-- end .alert -->
          {% endfor %}
        </div><!-- end col-md -->
      </div><!-- end row -->
      {% endif %}
      {% endwith %}
      <div class="markdown-body">
        {% block content %}{% endblock content %}
      </div>
      <div class="other-content">
        {% block other_content %}{% endblock other_content %}
      </div>
    </main>
  </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">
  {% if wiki_page and wiki_page.toc %}
  let d = document.getElementById('toc');
  if (d) {
    let uls = d.getElementsByTagName('ul');
    if (uls.length > 0) {
      uls[0].className = "nav flex-column";

      let lis = d.getElementsByTagName('li');
      let links = d.getElementsByTagName('a');
      for (i = 0; i < lis.length; i++) {
        lis[i].className = 'nav-item col-md-12 px-0';
      }
    }
  }
  {% endif %}

  function upload_file(wiki_group, wiki_page_id) {
     window.open('/'+wiki_group+'/upload'+'/'+wiki_page_id, 'Attach', 'width=600, height=800, menubar=no, scrollbars=yes');
  }
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
{% endblock js %}
