{% extends 'wiki/layout.html' %}

{% block header %}
{{ wiki_page.title }}
{% endblock header %}

{% block toc %}
{% if wiki_page.toc %}
{{ wiki_page.toc | safe }}
{% endif %}
{% endblock toc %}

{% block content %}
{% if wiki_page.html %}
{{ wiki_page.html | safe }}
{% endif %}
<div align="right" class="border-bottom border-secondary">
  <i><small>modified on {{ convert_utc_to_local(wiki_page.modified_on).strftime('%Y-%m-%d %H:%M:%S') }}</small></i>
</div>
<br><br><br><br><br><br><br><br>
{% endblock content %}
