{% extends 'wiki/layout.html' %}

{% block header %}
{{ 'Reference - ' + wiki_page.title }}
{% endblock header %}

{% block other_content %}
<a href="{{ url_for('wiki.page', wiki_page_id=wiki_page.id) }}" class="btn btn-secondary btn-sm mb-2" role="button" aria-pressed="true">❮ Back</a>
<ul class="list-group list-group-flush">
  {% for ref in wiki_referencing_pages %}
  <li class="list-group-item"><a href="{{ url_for('wiki.page', wiki_page_id=ref.id) }}">{{ ref.title }}</a></li>
  {% endfor %}
</ul>
{% endblock other_content %}
