{% extends 'wiki/layout.html' %}

{% block header %}
Rename - {{ wiki_page.title }}
{% endblock header %}

{% block other_content %}
<form method="POST">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.new_title.label() }}
    {% set attribs = {'class_': 'form-control','placeholder':'Eneter new title', 'aria-describedby': 'renameHelp'}  %}
    {{ form.new_title(**attribs) }}
    <small id="renameHelp" class="form-text text-muted">The new page title will be updated for all the pages which referenced it.</small>
  </div>
  {{ form.submit(class_='btn btn-primary') }}
  <a href="{{ url_for('wiki.page', wiki_page_id=wiki_page.id) }}" class="btn btn-secondary" role="button">Cancel</a>
</form>
{% endblock other_content %}